In [45]:
import numpy as np
import pandas as pd
import ast

In [46]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [47]:
movies.head()
movies.columns.values
movies = movies[['id','title','genres','keywords','overview','tagline']]
movies.head()
movies.isna().sum()

id            0
title         0
genres        0
keywords      0
overview      3
tagline     844
dtype: int64

In [48]:
credits.head()
credits.rename(columns={'movie_id':'id'},inplace=True)
credits.drop(columns='title',inplace =True)
credits.head()

,id,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [49]:
df = movies.merge(credits,on='id')
df
df.isna().sum()

id            0
title         0
genres        0
keywords      0
overview      3
tagline     844
cast          0
crew          0
dtype: int64

In [50]:
df.loc[df['tagline'].isna(),'tagline'] = ''
df.isna().sum()

id          0
title       0
genres      0
keywords    0
overview    3
tagline     0
cast        0
crew        0
dtype: int64

In [51]:
df.loc[df['overview'].isna(), 'overview'] = ''
df.isna().sum()

id          0
title       0
genres      0
keywords    0
overview    0
tagline     0
cast        0
crew        0
dtype: int64

In [52]:
df.head()

,id,title,genres,keywords,overview,tagline,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Legend Ends,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","Lost in our world, found in another.","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [53]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return  (' ').join(L)

In [54]:
df['genres'] = df['genres'].apply(convert)
df

,id,title,genres,keywords,overview,tagline,cast,crew
0,19995,Avatar,Action Adventure Fantasy Science Fiction,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,Action Adventure Crime,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Legend Ends,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,Action Adventure Science Fiction,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","Lost in our world, found in another.","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,Action Crime Thriller,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,Comedy Romance,[],A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...",,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,,[],When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,Documentary,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...,,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [55]:
df['keywords'] = df['keywords'].apply(convert)
df

,id,title,genres,keywords,overview,tagline,cast,crew
0,19995,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,The Legend Ends,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,Action Crime Thriller,united statesâ€“mexico barrier legs arms paper k...,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,Comedy Romance,,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,date love at first sight narration investigati...,"""Signed, Sealed, Delivered"" introduces a dedic...",,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,,,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,Documentary,obsession camcorder crush dream girl,Ever since the second grade when he first saw ...,,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [56]:
def actors(obj):
        L =[]
        for i in ast.literal_eval(obj):
            if len(L) >=3:
                break
            else:
             L.append(i['name'])
        return ' '.join(L)

def director(obj):
        for i in ast.literal_eval(obj):
            if i['job'] == 'Director':
                return i['name']
        return ''

In [57]:
df['cast'] = df['cast'].apply(actors)
df

,id,title,genres,keywords,overview,tagline,cast,crew
0,19995,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Sam Worthington Zoe Saldana Sigourney Weaver,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Johnny Depp Orlando Bloom Keira Knightley,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,Daniel Craig Christoph Waltz LÃ©a Seydoux,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,The Legend Ends,Christian Bale Michael Caine Gary Oldman,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",Taylor Kitsch Lynn Collins Samantha Morton,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,Action Crime Thriller,united statesâ€“mexico barrier legs arms paper k...,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",Carlos Gallardo Jaime de Hoyos Peter Marquardt,"[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,Comedy Romance,,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,Edward Burns Kerry BishÃ© Marsha Dietlein,"[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,date love at first sight narration investigati...,"""Signed, Sealed, Delivered"" introduces a dedic...",,Eric Mabius Kristin Booth Crystal Lowe,"[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,,,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,Daniel Henney Eliza Coupe Bill Paxton,"[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,Documentary,obsession camcorder crush dream girl,Ever since the second grade when he first saw ...,,Drew Barrymore Brian Herzlinger Corey Feldman,"[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [58]:
df['crew'] = df['crew'].apply(director)
df

,id,title,genres,keywords,overview,tagline,cast,crew
0,19995,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski
2,206647,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,The Legend Ends,Christian Bale Michael Caine Gary Oldman,Christopher Nolan
4,49529,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,Action Crime Thriller,united statesâ€“mexico barrier legs arms paper k...,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",Carlos Gallardo Jaime de Hoyos Peter Marquardt,Robert Rodriguez
4799,72766,Newlyweds,Comedy Romance,,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,Edward Burns Kerry BishÃ© Marsha Dietlein,Edward Burns
4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,date love at first sight narration investigati...,"""Signed, Sealed, Delivered"" introduces a dedic...",,Eric Mabius Kristin Booth Crystal Lowe,Scott Smith
4801,126186,Shanghai Calling,,,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,Daniel Henney Eliza Coupe Bill Paxton,Daniel Hsia
4802,25975,My Date with Drew,Documentary,obsession camcorder crush dream girl,Ever since the second grade when he first saw ...,,Drew Barrymore Brian Herzlinger Corey Feldman,Brian Herzlinger

In [59]:
df['sumup'] = df.overview + df.tagline + df.genres +df.keywords + df.cast + df.crew
df

,id,title,genres,keywords,overview,tagline,cast,crew,sumup
0,19995,Avatar,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,Sam Worthington Zoe Saldana Sigourney Weaver,James Cameron,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",Johnny Depp Orlando Bloom Keira Knightley,Gore Verbinski,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,Daniel Craig Christoph Waltz LÃ©a Seydoux,Sam Mendes,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,The Legend Ends,Christian Bale Michael Caine Gary Oldman,Christopher Nolan,Following the death of District Attorney Harve...
4,49529,John Carter,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",Taylor Kitsch Lynn Collins Samantha Morton,Andrew Stanton,"John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,Action Crime Thriller,united statesâ€“mexico barrier legs arms paper k...,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",Carlos Gallardo Jaime de Hoyos Peter Marquardt,Robert Rodriguez,El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,Comedy Romance,,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,Edward Burns Kerry BishÃ© Marsha Dietlein,Edward Burns,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie,date love at first sight narration investigati...,"""Signed, Sealed, Delivered"" introduces a dedic...",,Eric Mabius Kristin Booth Crystal Lowe,Scott Smith,"""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,,,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,Daniel Henney Eliza Coupe Bill Paxton,Daniel Hsia,When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,Documentary,obsession camcorder crush dream girl,Ever since the second grade when he first saw ...,,Drew Barrymore Brian Herzlinger Corey Feldman,Brian Herzlinger,Ever since the second grade when he first saw ...

In [60]:
df = df[['id','title','sumup']]
df

,id,title,sumup
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4798,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [61]:
import nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return ' '.join(L)

df.sumup = df.sumup.apply(stem)
df

C:\Users\Venum\AppData\Local\Temp\ipykernel_23124\66350949.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sumup = df.sumup.apply(stem)

,id,title,sumup
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4798,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4799,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4800,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4801,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4802,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
skyline = CountVectorizer(max_features = 7000, stop_words= 'english' )

In [63]:
horizon = skyline.fit_transform(df.sumup)
horizon = horizon.toarray()
horizon

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [64]:
from sklearn.metrics.pairwise import cosine_similarity
celestial = cosine_similarity(horizon)
celestial.shape

(4803, 4803)

In [65]:
def recommend(movie):
    movie_index = df[df.title == movie].index[0]
    distances = celestial[movie_index]
    cosmic = sorted(list(enumerate(distances)), reverse= True, key = lambda x: x[1])
    return cosmic[1:6]

In [66]:
azure = recommend('Newlyweds')
azure
for i in azure:
   print(df.iloc[i[0]].title)

Just Married
Our Family Wedding
A Perfect Getaway
She's the One
For Your Consideration